:root {
    --background: #F5F5F5;
    --primary: #3F72AF; 
    --secondary: #FF6F61; 
    --cta: #3A527F; 
    --accent: #DBE2EF; 
    --sage: #A2D2FF; 
    --light-sage: #D0E5B9; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(180deg, var(--background) 60%, var(--background) 100%);
}

.main {
    width: 100%;
    max-width: 50%;
    padding: 20px;
    background-color: var(--accent); /* Xanh pastel nhẹ */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: block;
    flex-wrap: wrap;
    gap: 20px;
}

.navbar {
    border-radius: 5px;
}

#study-zone {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    position: relative;
}

.flashcard {
    position: relative;
    width: 95%;
    height: 500px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
}

.front {
    background-color: var(--sage);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #112D4E;
}

.back {
    background-color: var(--light-sage); /* Xanh ngọc nhạt */
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #112D4E; /* Màu chữ đậm */
}

.flashcard.flipped {
    transform: rotateY(180deg);
}

.flashcard-nav {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 10;
}

.flashcard-nav button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--primary); /* Xanh lam nhạt */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.flashcard-nav button:hover {
    background-color: var(--cta); /* Xanh đậm hơn */
}

.flashcard-nav button:active {
    background-color: var(--secondary); /* Cam sáng */
}

.flashcard-nav button:disabled {
    background-color: #E0E0E0; /* Xám nhạt */
    cursor: not-allowed;
}

.flashcard-nav button img {
    width: 20px;
    height: 20px;
}
